<div class="header">
  <%= image_tag "count_theapplication_themovie_3042.png", alt: "Logo", id: "logo" %>
  <h1>Create a new list</h1>
</div>

<%= simple_form_for @list do |f| %>
  <%= f.input :name, label: 'List Name' %>

  <div class="form-actions">
    <%= f.submit 'Create List', class: 'btn' %>
  </div>
<% end %>
<h3>
<%= link_to 'Back to lists', lists_path %><i class="fa-solid fa-arrow-left"></i></h3>
