<div class="header">
  <%= image_tag "count_theapplication_themovie_3042.png", alt: "Logo", id: "logo" %>
  <h1>Add a Bookmark</h1>
</div>


  <%= link_to list_path(@list) do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>


  <div class="form-new">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, collection: Movie.all, label_method: :title, value_method: :id %>
    <%= f.input :comment, label: 'Comment' %>

    <div class="form-actions">
      <%= link_to 'Add a Bookmark', new_list_bookmark_path(@list), class: 'btn' %>

    </div>
  <% end %>
  </div>
